*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background:radial-gradient( rgb(25, 24, 2),rgb(16, 16, 16));
    height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
    margin-left:4rem;
    background-position:center;
    margin-right:4rem;
    margin-top:2rem;

    color:white;
    font-family:poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.input{
    display:flex;
    flex-direction:column;
}
label{
    margin-bottom:.3em;
    color:rgb(255, 255, 229);
}
a{
    font-size:.6em;
    color:rgba(255, 255, 255, 0.584);

}
span{
    color:yellow;
}
input{
    color:white;
    padding-left:1em; 
    height:2.4em;
    border-radius:.8em;
    width:100%;
    max-width:90em;
    background:linear-gradient(75deg, rgba(0, 0, 0, 0.7),rgba(0,0,0,.6),rgba(0,0,0,.5),rgba(0,0,0,.4), rgba(0,0,0,.3),rgba(0,0,0,.2));
    backdrop-filter:blur(20px);
    border:2px solid rgb(255, 255, 169); 
}
ul{
    margin-left:2em;
    margin-top:1em;
}

#button-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.special{
    font-size:1.5em;
    font-weight:bold; 
    color:rgb(255, 255, 213);
}
.valid{
    color:rgb(0, 255, 0);
     text-shadow:
        0 0 5px #0f0;
}
.task-container{
    display:flex; 
    gap:1em; 
    justify-content:space-between;
    width:100%;
    align-items:center;
}
.button-container{
    display:flex;
    gap:.5em;
}
ul button{
    padding:.2em;
    width:fit-content;
    color:white; 
    border:none;
    font-weight:900;
    border-radius:.5em;
    background:rgb(102, 102, 226);
}
.title{
    display:flex;
    align-items:center; 
    width:100%;
    max-width:65em;
    justify-content:space-between;
}

.proceed{
    background:linear-gradient(45deg, yellow, rgb(255, 255, 94)); 
    width:10em;
    height:3em;
    border-radius:1.5em;
    border:2px solid rgba(255, 251, 5, 0.24);
    margin-top:1em;
    text-align:center;
    color:black;
    font-weight:bolder; 
}
li{
    color:rgba(255, 255, 255, 0.767);
    font-weight:600;
    font-size:1.1em;
    margin-top:.5em;
    
}

.important{
    color:red;
     text-shadow:
        0 0 5px #f00;
}
.normal{
    color:white; 
}
.container{
    margin:auto; 
    display:flex;
    width:100%;
    max-width:100em;
    flex-direction:column; 
    border:2px solid rgba(0, 0, 0, 0.3);
    color:rgb(255, 255, 255);
    padding:2em; 
    border-radius:2em; 
    background:radial-gradient( rgba(255,255,255,.08),rgba(67, 67, 67, 0.05));
    backdrop-filter:blur(20px);
    box-shadow:1px 1px 10px rgba(0,0,0,.3);
}
h1{
    color:rgb(255, 255, 143); 
    margin-bottom:.8em;
    font-weight:bolder;
    font-size:2.2rem;
}

h1 span{
    display:flex;
    font-size:2.5rem;
}

#notif{
    color:red;
    font-weight:bolder;
    display:inline;
    font-size:2em;
}
.title h1{
    font-weight:500;
}
.add{
    display:flex;
    gap:.2em;
}
.add button{
    width:5em;
    height:2.4em;
    border-radius:.8em;
    border:2px solid rgb(199, 199, 0); 
    color:black; 
    font-weight:bolder;
    background:linear-gradient(45deg, yellow, rgb(255, 255, 169)) ;
    backdrop-filter:blur(20px);

}

#new h1{
    margin:.1em;
}
#new h4{
    font-weight:400;
}
#new{
    width:100%;
    max-width:65em;
    margin-top:2em;

}

@media (max-width:600px){
    .add{
        display:flex;
        flex-direction:column;
        gap:.5em;
    }
    .task-container{
        display:flex;
        flex-direction:column;
        margin-top:1em;

        
    }
    #new h1{
        font-size:1.5em;
    }
    body{
        margin-left:1rem;
        margin-right:1rem;
    }
}
